nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: left;
  overflow: hidden;
  width: 100%;
  height: auto;
  position: fixed;
  background-color: #2e2e2e;
}

nav ul li {
  float: left;
}

nav ul li a {
  display: block;
  text-decoration: none;
  font-family: 'Times New Roman', system-ui;
  text-align: center;
  padding: 15px 30px;
  color: #808080;
}

nav ul li a:hover {
  text-decoration: underline;
}

h1, h2, h3 {
  font-family: 'Times New Roman', system-ui;
  font-size: 30px;
}

h4 {
  font-size: 18px;
  margin: 0;
}
