
#main-navbar {
  background-color: gray;
  overflow: hidden;
  text-align: center; /* Add this line */
}

#navbar-container {
  float: none; /* Change float to none */
  margin: 0 auto; /* Add this line to center the container */
  width: fit-content; /* Add this line to make the container fit the content width */
  position: relative;
}

#main-navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-block; /* Change float to inline-block */
}

#main-navbar ul li {
  display: inline; /* Change float to inline */
}

#main-navbar ul li a {
  display: block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
}

#main-navbar ul li a:hover {
  background-color: #000;
  text-decoration: none; /* Add this line to remove underline on hover */
}

#onpage {
  text-decoration: none; /* Remove underline and overline */
}

#sidebar {
  position: fixed;
  right:0;
  background-color: red;
  height: 100%;
  width: 20%;
  overflow-y: scroll; /* Add this line to enable scrolling */
}

#sidebar ul {
  list-style-type: none;
  text-align: center;
  padding: 0;
}

#sidebar ul li a {
  display: block;
  padding: 15px 0;
  color: #fff;
  text-decoration: none;
}

#sidebar ul li a:hover {
  background-color: #000;
  text-decoration: none; /* Add this line to remove underline on hover */
}
